<br>
<br>
<div class="container">
  <form>
  	<h1 class="offset-sm-4 col-sm-10">Pantalla de pacientes</h1>
  	<br>
  	

  	<div class="row">
  		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
			<button type="button" class="btn btn-primary" ng-click="mostrarInsercion()">Insertar Nuevo paciente</button>
			<br>
		</div>
		<div class="col-xs-4 col-sm-6 col-md-4 col-lg-3">
			<div class="form-group row">
			    <label for="Nombre">Buscar:</label>
			    <input type="text" class="form-control" id="nombre" ng-model="filters.myfilter" placeholder="Nombre">
		  </div>
		</div>
		
		
  	</div>
  	
  	
  	<br>
<br>
  </form>
			<table ng-table="tableParams" 
				class="table table-striped  table-bordered">
				<tr ng-repeat="catalog in $data">
					<td data-title="'IdPaciente'" class="active" sortable="'idPaciente'"
						header-class="flechas_columnas">{{catalog.idPaciente}}</td>
					<td data-title="'Nombre'" class="text" sortable="'nombre'"
						header-class="flechas_columnas">{{catalog.nombre}}</td>
					<td data-title="'Cedula de identificacion'" class="active" sortable="'cedula_ide'"
						header-class="flechas_columnas">{{catalog.cedula_ide}}</td>
					<td data-title="'Telefono'" class="active" sortable="'telefono'"
						header-class="flechas_columnas">{{catalog.telefono}}</td>	
					<td data-title="'Direccion'" class="active" sortable="'direccion'"
						header-class="flechas_columnas">{{catalog.direccion}}</td>	
					<td data-title="'Edad'" class="active" sortable="'edad'"
						header-class="flechas_columnas">{{catalog.edad}}</td>	
					<td data-title="'Editar'" class="active" sortable="'actualizar'"
						header-class="flechas_columnas"><span class="glyphicon glyphicon-pencil" ng-click="activar(catalog)"></td>	
						
				</tr>
			</table>
			
			
		</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Editar Paciente</h4>
      </div>
      <div class="modal-body">
      
      	<form>
		  <div class="form-group">
		    <label for="Nombre">Nombre:</label>
		    <input type="text" class="form-control" id="nombre" ng-model="update.nombre" placeholder="Nombre">
		  </div>
		  <div class="form-group">
		    <label for="Nombre">Cedula de identificacion:</label>
		    <input type="text" class="form-control" id="cedula" ng-model="update.cedula_ide" placeholder="Cedula">
		  </div>
		  <div class="form-group">
		    <label for="Nombre">Telefono:</label>
		    <input type="text" class="form-control" id="telefono" ng-model="update.telefono" placeholder="Telefono">
		  </div>
		  <div class="form-group">
		    <label for="Nombre">Direcci&oacute;n:</label>
		    <input type="text" class="form-control" id="direccion" ng-model="update.direccion" placeholder="Direccion">
		  </div>
		  <div class="form-group">
		    <label for="Nombre">Edad:</label>
		    <input type="number" class="form-control" id="edad" ng-model="update.edad" placeholder="Edad">
		  </div>
		  <span ng-show="bandera.validate">Error en datos</span>
		</form> 
         
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" ng-click="actualizarDatos()">Guardar</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Modal -->
<div class="modal fade" id="insertarPaciente" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
      
      	<form>
		  <div class="form-group">
		    <label for="Nombre">Nombre:</label>
		    <input type="text" class="form-control" id="nombre" ng-model="insertar.nombre" placeholder="Nombre">
		  </div>
		  <div class="form-group">
		    <label for="Nombre">Cedula de identificacion:</label>
		    <input type="text" class="form-control" id="cedula" ng-model="insertar.cedula_ide" placeholder="Cedula">
		  </div>
		  <div class="form-group">
		    <label for="Nombre">Telefono:</label>
		    <input type="text" class="form-control" id="telefono" ng-model="insertar.telefono" placeholder="Telefono">
		  </div>
		  <div class="form-group">
		    <label for="Nombre">Direcci&oacute;n:</label>
		    <input type="text" class="form-control" id="direccion" ng-model="insertar.direccion" placeholder="Direccion">
		  </div>
		  <div class="form-group">
		    <label for="Nombre">Edad:</label>
		    <input type="number" class="form-control" id="edad" ng-model="insertar.edad" placeholder="Edad">
		  </div>
		  <span ng-show="bandera.validate">Error en datos</span>
		</form> 
         
         <div class="alert alert-danger" role="alert" ng-show="bandera.validate">
		 	 <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  				<span class="sr-only">Error:</span>
  				menor de 10
		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" ng-click="insertarDatos()">Guardar</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->